# 1. Application configuration:
PREFECT_API_AUTH_STRING=<USER FROM SERVER ENV>:<PASSWORD FROM SERVER ENV>
PREFECT_API_URL=http://<APPLICATION_SERVER>:4200/api
PREFECT_LOGGING_EXTRA_LOGGERS=autofiller,backend_station_health,daily_pipeline,models_fill_historical_stats,models_fill_predictions,models_fill_station_stats,models_insert_station_devices,models_refine_historical_stats,pests_daily_pipeline,pests_spark,recompute_pest_stages,lib,services,pyspark,py4j
PREFECT_WORKER_POOL=dev
PYTHONPATH=/opt/prefect/flows:/opt/prefect/oxus_models

# 2. S3 bucket configuration:
AWS_ACCESS_KEY_ID=
AWS_BUCKET=
AWS_DEFAULT_REGION=auto
AWS_ENDPOINT=
AWS_SECRET_ACCESS_KEY=

# 3. Redis caching configuration:
REDIS_HOST=<DB_SERVER>
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_PREFECT_DB=3

# 4. PostgreSQL backend database connection:
BACKEND_DB_HOST=<DB_SERVER>
BACKEND_DB_PORT=5432
BACKEND_DB_NAME=amudario
BACKEND_DB_USER=
BACKEND_DB_PASSWORD=

# 5. PostgreSQL models database connection:
MODELS_DB_HOST=<DB_SERVER>
MODELS_DB_PORT=5433
MODELS_DB_NAME=oxus_models
MODELS_DB_USER=
MODELS_DB_PASSWORD=

# 6. InfluxDB database connection:
INFLUXDB_BUCKET=<INFLUX BUCKET NAME>
INFLUXDB_HOST=<INGESTION_SERVER>
INFLUXDB_MEASUREMENT=meteometric
INFLUXDB_ORG=<INFLUX ORG NAME>
INFLUXDB_TOKEN=<INFLUX GENERATED TOKEN>
INFLUXDB_URL=http://<INGESTION_SERVER>:8086
INFLUX_BUCKET=<INFLUX BUCKET NAME>
INFLUX_ORG=<INFLUX ORG NAME>
INFLUX_TOKEN=<INFLUX GENERATED TOKEN>
INFLUX_URL=http://<INGESTION_SERVER>:8086

# 7. Oxus-admin application parameters:
OXUS_ADMIN_INTERNAL_TOKEN=<INTERNAL TOKEN THAT IS THE SAME FOR ADMIN/BACKEND>
OXUS_ADMIN_URL=http://<APPLICATION_SERVER>:8011
OXUS_BACKEND_INTERNAL_TOKEN=<INTERNAL TOKEN THAT IS THE SAME FOR ADMIN/BACKEND>
OXUS_BACKEND_URL=http://<APPLICATION_SERVER>:8080

# 8. Other:
METEOBLUE_API_KEY=
METEOBLUE_BASE_URL=
METEOBLUE_LOGIN=
METEOBLUE_PWD=
TZ=Asia/Tashkent