# 1. Application configuration:
INTERNAL_API_TOKEN=<INTERNAL TOKEN SHARED BY APPS>
APP_DEBUG=false
APP_ENV=production
APP_KEY=
APP_NAME=oxus
APP_URL=<BACKEND API URL>
BROADCAST_DRIVER=log
LOG_CHANNEL=stack
LOG_LEVEL=debug
QUEUE_CONNECTION=sync

# 2. S3 bucket configuration:
AWS_ACCESS_KEY_ID=
AWS_BUCKET=<IMAGES BUCKET NAME>
AWS_DEFAULT_REGION=auto
AWS_ENDPOINT=<LINK>
AWS_SECRET_ACCESS_KEY=

# 3. Redis caching configuration:
CACHE_DRIVER=redis
CACHE_FREQ=30
REDIS_HOST=<DB_SERVER>
REDIS_PASSWORD=
REDIS_PORT=6379

# 4. PostgreSQL database connection:
DB_CONNECTION=pgsql
DB_HOST=<DB_SERVER>
DB_PORT=5432
DB_DATABASE=amudario
DB_USERNAME=
DB_PASSWORD=
DB_SSLMODE=prefer

# 5. InfluxDB database connection:
INFLUX_BUCKET=<INFLUX BUCKET NAME>
INFLUX_ORG=<INFLUX ORG NAME>
INFLUX_TOKEN=<INFLUX GENERATED TOKEN>
INFLUX_URL=http://<INGESTION_SERVER>:8086

# 6. SMS sending parameters:
ESKIZ_LOGIN=
ESKIZ_PASSWORD=

# 7. Oxus-Models API:
MODELS_API_URL=http://<APPLICATION_SERVER>:8011/models/api

# 8. Other:
SESSION_DRIVER=file
SESSION_LIFETIME=120
